@model HeyCurator_MVC.Models.Item

@{
    ViewData["Title"] = "Details";

    var itemId = 1;

    if (Model != null)
    {
        itemId = Model.ItemId;
    }


    var records = _context.Records.OrderByDescending(records => records.TimeStamp).Take(10).ToList();
}



<div class="hc-model-details-card">
    <div class="px-4 py-5 sm:px-6">
        <h3 class="hc-model-details-row-h1">
            Item: @Model.Name
        </h3>
        <p class="hc-model-details-row-sub-h1">
            Description of Item Type
        </p>
    </div>
    <div class="border-t border-gray-200">
        <dl>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Item Type Description
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    TODO: Add Item Type Description
                </dd>
            </div>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Minimum Inventory Recommended
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    @Model.MinCount
                </dd>
            </div>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Update Period
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    @Model.DaysBetweenUpdates Days
                </dd>
            </div>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Update Expiration Leniency Period
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    @Model.DaysBeforeNotifyAllCurators Days
                </dd>
            </div>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Item Type Last Updated
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    @Model.DateOfLastUpdate.ToString("D")
                </dd>
            </div>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Upcoming Updae
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    @Model.UpdateByDate.ToString("D")
                </dd>
            </div>
            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Total Inventory Count Across All Instances
                </dt>
                <dd class="hc-model-details-row-dd font-medium">
                    @Model.RecordedStorageAmount
                </dd>
            </div>

            

            <div class="hc-detail-alternate hc-model-details-row">
                <dt class="hc-model-details-row-dt">
                    Generated QR Code
                </dt>
                <dd id="qrcode" class="hc-model-details-row-dd">

                </dd>
            </div>
        </dl>
    </div>
</div>





<div class="flex flex-row mx-10 my-4">
    <button type="button" id="modalButton" data-id="@Model.ItemId" class="flex-initial bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 border border-blue-800 rounded">
        Add New Record
    </button>
</div>


<div id="recordsTable" class="  mx-10 flex justify-center bg-white dark:bg-gray-600 shadow-xl rounded-lg cursor-pointer">

</div>











@section Scripts {


    <script>
        var id = @itemId;

        $(document).ready(function () {

            if (id == 0) {
                window.location.href = "/item/index";
            }
            $('#recordsTable').load('/item/DisplayRecordsTable/' + id)
        });

        $(function () {
            $('#modalButton').on('click', function () {
                $('#modalContainer').empty();
                $('#modalContainer').load('/item/CreateRecordPartial/' + this.getAttribute('data-id'));
                $('#displayModal').modal('show');
            })
        });

        function viewModal(refNum) {
            $('#modalContainer').load('/item/CreateRecordPartial/' + refNum);
            $('#displayModal').modal('show');
        };

    </script>

}
