@model IEnumerable<HeyCurator_MVC.Models.Item>
@inject EmployeeService _employee
@{
    ViewData["Title"] = "Index";
    var empItems = _employee.GetEmployeesItems();
    var userItems = Model.Where(m => empItems.Contains(m));
}



<section class="py-8 px-4">
    <div class="grid grid-cols-6">

        @foreach (var item in userItems)
        {

        <div class="col-span-2 px-4 mb-4 lg:mb-0">
            <div class="h-full border rounded shadow bg-white relative">
                <div class="flex items-center justify-between py-3 px-4 border-b bg-saffron-100 ">
                    <h3 class="text-lg font-heading">@item.Name</h3>
                    <span class="py-1 px-3 text-sm text-white font-semibold bg-saffron-300 rounded-full">Item</span>
                </div>
                <div class="mx-3 my-2 rounded">
                    <h3 class="text-3xl font-heading font-semibold text-right">500</h3>
                    <p class="font-semibold">Amount in Reserve</p>
                    <span class="text-md"> Last Update: @item.DateOfLastUpdate</span>
                </div>
                <div class="w-full bottom-0">
                    <a class="inline-block w-full py-4 text-center bg-saffron-100 hover:bg-saffron-300 hover:no-underline" asp-action="Details" asp-route-id="@item.ItemId">
                        Details
                    </a>
                </div>
            </div>
        </div>

        }




    </div>
</section>






<table class="table bg-indigo-100">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysBetweenUpdates)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysBeforeNotifyAllCurators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfLastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateByDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNotifyCurators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecordedStorageAmount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var color = "";
            if (item.RecordedStorageAmount <= item.MinCount)
            {
                color = "bg-red-200";
            }
            <tr class="@color">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysBetweenUpdates)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysBeforeNotifyAllCurators)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfLastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateByDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNotifyCurators)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RecordedStorageAmount)
                </td>
                <td><a asp-action="Details" asp-route-id="@item.ItemId">Details</a></td>
            </tr>
        }
    </tbody>
</table>
