@model IEnumerable<HeyCurator_MVC.Models.PurchaserNotification>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeStamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountRequested)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderUrgency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuratorNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaserNote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderRefId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFullFilled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderUrgency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuratorNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaserNote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRefId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsFullFilled)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PurchaserNotificationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PurchaserNotificationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PurchaserNotificationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
