@model AnonymousQuestion

@{
    List<AnonymousComment> comments;
    if (Model.AnonymousComments == null || Model.AnonymousComments.Count() == 0)
    {
        comments = new List<AnonymousComment>();
    }
    else
    {
        comments = Model.AnonymousComments.ToList();
    }
    int alternate = 0;
}



<div class="container w-full p-2 ">
    <div class="container w-full p-2 border-indigo-500 bg-gray-400 bg-opacity-50">
        <div class="text-base font-bold">
            <h1 class="font-sans break-normal text-gray-800 pt-6 pb-2 text-xl">@Model.QuestionHeader</h1>
            <hr class="border-2 border-indigo-300 pb-6" />
        </div>
        <p class="py-6">
            @Model.Question
        </p>
        <p class="pb-6 text-right text-teal-700">@Model.TimePosted</p>
    </div>
    
    @if (comments != null || comments.Count() > 0)
    {
        string borderSide = "";
        string textSide = "";
        string paddingSide = "";
        string paddingDateSide = "";
        foreach (var comment in comments)
        {

            if (alternate % 2 == 0)
            {
                borderSide = "border-r-4";
                textSide = "text-right";
                paddingSide = "pr-4";
                paddingDateSide = "pr-2";
            }
            else
            {
                borderSide = "border-l-4";
                textSide = "text-left";
                paddingSide = "pl-4";
                paddingDateSide = "pl-2";
            }
            alternate++;
            <div class="@borderSide  border-green-500 bg-green-200 bg-opacity-50">
                <blockquote class="@textSide @paddingSide italic pt-4 my-8">
                    @comment.CommentBody
                </blockquote>
                <p class="pb-6 @paddingSide @textSide text-teal-700">@comment.TimeStamp</p>
            </div>
        }
    }



    <div id="addComment" class="pt-6">
        <button type="button" data-id="@Model.AnonymousQuestionId" class="addCommentButton flex-initial bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 border border-blue-800 rounded">
            Comment
        </button>
    </div>

</div>